<li>
  <div class="parts-container half">
    <h3 class="secondary-header">{{monster.name}}</h3>
    <img class="head" src="{{monster.head}}" alt="" />
    <img class="torso" src="{{monster.torso}}" alt="" />
    <img class="left-arm" src="{{monster.leftArm}}" alt="" />
    <img class="right-arm" src="{{monster.rightArm}}" alt="" />
    <img class="left-leg" src="{{monster.leftLeg}}" alt="" />
    <img class="right-leg" src="{{monster.rightLeg}}" alt="" />
  </div>
</li>
