<div class="top-container">

  <div class="title-header">
    <h1 class="main-header">BEHEMOTH</h1>
    <h3 class="text-header">builder</h3>
  </div>
  {{#liquid-if isTraitShowing }}
  <div class="trait-box">
    <!-- <h3 class="secondary-header">Name</h3>
    <div class="button-container">
      <input type="text" name="name" value="">
    </div> -->

    <div class="secondary-header">Head</div>
    <div class="button-container">
      {{#power-select options=heads selected=heads.name onchange=(action (mut heads.name)) as |head|}}
        {{head.name}}
      {{/power-select}}
    </div>

    <h3 class="secondary-header">Torso</h3>
    <div class="button-container">
      {{#power-select options=torsos selected=torsos.name onchange=(action (mut torsos.name)) as |torso|}}
        {{torso.name}}
      {{/power-select}}
    </div>

    <h3 class="secondary-header">Left Arm</h3>
    <div class="button-container">
      {{#power-select options=leftArms selected=leftArms.name onchange=(action (mut leftArms.name)) as |leftArm|}}
        {{leftArm.name}}
      {{/power-select}}
    </div>

    <h3 class="secondary-header">Right Arm</h3>
    <div class="button-container">
      {{#power-select options=rightArms selected=rightArms.name onchange=(action (mut rightArms.name)) as |rightArm|}}
        {{rightArm.name}}
      {{/power-select}}
    </div>

    <h3 class="secondary-header">Legs</h3>
    <div class="button-container">
      {{#power-select options=legs selected=legs.name onchange=(action (mut legs.name)) as |legs|}}
        {{legs.name}}
      {{/power-select}}
    </div>

  </div>
  {{else}}
   <button class="main-button" {{action 'traitShow'}}>Begin</button>
  {{/liquid-if}}
</div>

<div class="monster-container">
  <img class="head" src={{heads.name.headSVG}} />
  <img class="left-arm" src={{leftArms.name.leftArmSVG}} />
  <img class="right-arm" src={{rightArms.name.rightArmSVG}} />
  <img class="torso" src={{torsos.name.torsoSVG}} />
  <img class="legs" src={{legs.name.legsSVG}} />
</div>
