<div class="top-container">

  <h1 class="main-header">MONSTER</h1>

  <div class="trait-box">
    <h3 class="secondary-header">Name</h3>
    <div class="button-container">
      <input type="text" name="name" value="">
    </div>
    <h3 class="secondary-header">Head</h3>
    <div class="button-container">
      {{#power-select options=heads onchange=(action "choosePart") as |head|}}
        {{head.headSVG}}
      {{/power-select}}
    </div>
    <h3 class="secondary-header">Torso</h3>
    <div class="button-container">
      {{#power-select options=torsos onchange=(action "choosePart") as |torso|}}
        {{torso.torsoSVG}}
      {{/power-select}}
    </div>
    <h3 class="secondary-header">Left Arm</h3>
    <div class="button-container">
      {{#power-select options=leftArms onchange=(action "choosePart") as |leftArm|}}
        {{leftArm.leftArmSVG}}
      {{/power-select}}
    </div>
    <h3 class="secondary-header">Right Arm</h3>
    <div class="button-container">
      {{#power-select options=rightArms onchange=(action "choosePart") as |rightArm|}}
        {{rightArm.rightArmSVG}}
      {{/power-select}}
    </div>
    <h3 class="secondary-header">Legs</h3>
    <div class="button-container">
      {{#power-select options=legs onchange=(action "choosePart") as |legs|}}
        {{legs.legsSVG}}
      {{/power-select}}
    </div>
  </div>

</div>
