{{#liquid-if isTraitShowing }}
<div class="top-container">

  <div class="monster-container">
    <div class="parts-container">
      <h3 class="name-header">{{name}}</h3>
      <img id='head' class="head" src={{heads.name.headSVG}} />
      <div class="hidden">
        {{input value=heads.name.headSVG id="head"}}
      </div>
      <img class="left-arm" src={{leftArms.name.leftArmSVG}} />
      <div class="hidden">
        {{input value=leftArms.name.leftArmSVG id="leftArm"}}
      </div>
      <img class="right-arm" src={{rightArms.name.rightArmSVG}} />
      <div class="hidden">
        {{input value=rightArms.name.rightArmSVG id="rightArm"}}
      </div>
      <img class="torso" src={{torsos.name.torsoSVG}} />
      <div class="hidden">
        {{input value=torsos.name.torsoSVG id="torso"}}
      </div>
      <img class="right-leg" src={{rightLegs.name.rightLegSVG}} />
      <div class="hidden">
        {{input value=rightLegs.name.rightLegsSVG id="rightLeg"}}
      </div>
      <img class="left-leg" src={{leftLegs.name.leftLegSVG}} />
      <div class="hidden">
        {{input value=leftLegs.name.leftLegsSVG id="leftLeg"}}
      </div>
    </div>


    <div class="name-container">
      {{input value=name id="name" placeholder="Name"}}
    </div>
    <div class="trait-container">
      <div class="trait-box-one">
        <div class="button-container">
          {{#power-select
            searchEnabled=false
            placeholder="Head"
            options=heads
            selected=heads.name
            onchange=(action (mut heads.name)) as |head|}}
            {{head.name}}
          {{/power-select}}
        </div>

        <div class="button-container">
          {{#power-select
            searchEnabled=false
            placeholder="Right Arm"
            options=rightArms
            selected=rightArms.name onchange=(action (mut rightArms.name)) as |rightArm|}}
            {{rightArm.name}}
          {{/power-select}}
        </div>

        <div class="button-container">
          {{#power-select
            searchEnabled=false
            placeholder="Right Leg"
            options=rightLegs
            selected=rightLegs.name
            onchange=(action (mut rightLegs.name)) as |rightLeg|}}
            {{rightLeg.name}}
          {{/power-select}}
        </div>

      </div>
      <div class="trait-box-two">

        <div class="button-container">
          {{#power-select
            searchEnabled=false
            placeholder="Torso"
            options=torsos
            selected=torsos.name
            onchange=(action (mut torsos.name)) as |torso|}}
            {{torso.name}}
          {{/power-select}}
        </div>

        <div class="button-container">
          {{#power-select
            searchEnabled=false
            placeholder="Left Arm"
            options=leftArms
            selected=leftArms.name
            onchange=(action (mut leftArms.name)) as |leftArm|}}
            {{leftArm.name}}
          {{/power-select}}
        </div>


        <div class="button-container">
          {{#power-select
            searchEnabled=false
            placeholder="Left Leg"
            options=leftLegs
            selected=leftLegs.name
            onchange=(action (mut leftLegs.name)) as |leftLeg|}}
            {{leftLeg.name}}
          {{/power-select}}
        </div>
      </div>
    </div>

      <button class="main-button" {{action 'save'}}>Save</button>

  </div>

</div>
{{else}}
 <button class="main-button" {{action 'traitShow'}}>Begin</button>
{{/liquid-if}}
