<div class="main-container">
  <div class="monster-mash">
    <h3 class="text-header">{{monster.name}}</h3>
    {{monster.head}}<br>
    {{monster.torso}}<br>
    {{monster.leftArm}}<br>
    {{monster.rightArm}}<br>
    {{monster.legs}}<br>
  </div>
</div>
