<div class="top-container">

  <h1 class="main-header">MONSTER</h1>

  <div class="trait-box">
    <h3 class="secondary-header">Name</h3>
    <div class="button-container">
      <input type="text" name="name" value="">
    </div>
    <h3 class="secondary-header">Head</h3>
    <div class="button-container">
      {{#power-select options=heads selected=heads.name onchange=(action (mut heads.name)) as |head|}}
        {{head.name}}
      {{/power-select}}
    </div>
    <h3 class="secondary-header">Torso</h3>
    <div class="button-container">
      {{#power-select options=torsos selected=torsos.name onchange=(action (mut torsos.name)) as |torso|}}
        {{torso.name}}
      {{/power-select}}
    </div>
    <h3 class="secondary-header">Left Arm</h3>
    <div class="button-container">
      {{#power-select options=leftArms selected=leftArms.name onchange=(action (mut leftArms.name)) as |leftArm|}}
        {{leftArm.name}}
      {{/power-select}}
    </div>
    <h3 class="secondary-header">Right Arm</h3>
    <div class="button-container">
      {{#power-select options=rightArms selected=rightArms.name onchange=(action (mut rightArms.name)) as |rightArm|}}
        {{rightArm.name}}
      {{/power-select}}
    </div>
    <h3 class="secondary-header">Legs</h3>
    <div class="button-container">
      {{#power-select options=legs selected=legs.name onchange=(action (mut legs.name)) as |legs|}}
        {{legs.name}}
      {{/power-select}}
    </div>
  </div>

</div>
